@font-face {
    font-family: "meslo";
    src: url("MesloLGM-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "meslo";
    src: url("MesloLGM-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "meslo";
    src: url("MesloLGM-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "meslo";
    src: url("MesloLGM-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}